DISCORD_TOKEN=your_discord_bot_token
GEMINI_API_KEY=your_google_ai_studio_key
WEATHER_API=your_weather_api_url
DISCORD_CHANNEL_ID=your_target_channel_id

# Twitch API 資訊
TWITCH_CLIENT_ID=你的_Client_ID
TWITCH_CLIENT_SECRET=你的_Client_Secret
TWITCH_TARGET_USER=實況主帳號

# YouTube 監控資訊
YT_CHANNEL_ID=頻道ID
NOTIFICATION_CHANNEL_ID=your_discord_target_channel_id